<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTA DE MEDICOS</span>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">DNI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Numero de colegiado</th>
                            <th scope="col">Especialidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor= "let medico of listaMedicos">
                            <td>{{ medico.dni}}</td>
                            <td>{{ medico.nombre}}</td>
                            <td>{{ medico.apellidos}}</td>
                            <td>{{ medico.numColegiado}}</td>
                            <td>{{ medico.especialidad}}</td>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>