<div>
    <mat-toolbar color="primary">
        <span>Citas medicas</span>
        <div class="clasea">
            <!--<button class="btn btn-dark" *ngIf="login == false">Login</button>
            <button class="btn btn-dark" *ngIf="login == false">Registrarse</button>
            <button class="btn btn-dark" *ngIf="login == true">Salir</button>-->
            <button class="btn btn-dark" routerLink="">Opciones</button>
            <button class="btn btn-dark" routerLink="/registroMedico">Registrar Medico</button>
            <button class="btn btn-dark" routerLink="/registroPaciente">Registrar Paciente</button>
        </div>
    </mat-toolbar> 
</div>
