<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTA DE CITAS</span>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Paciente</th>
                            <th scope="col">Medico</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Fecha</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor= "let cita of listaCitas">
                            <td>{{ cita.paciente}}</td>
                            <td>{{ cita.medico}}</td>
                            <td>{{ cita.motivoCita}}</td>
                            <td>{{ cita.fechaHora}}</td>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>