<div class="margen">
        <div class="text-center">
            <button class="btn btn-dark" routerLink="/listarPacientes">Listar pacientes</button>
            <button class="btn btn-dark" routerLink="/listarMedicos">Listar medicos</button>
            <button class="btn btn-dark" routerLink="/listarCitas">Listar citas</button>
            <button class="btn btn-dark" routerLink="/nuevaCita">Añadir cita</button>
        </div> 
</div>