<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTA DE PACENTES</span>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">DNI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">nss</th>
                            <th scope="col">direccion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor= "let paciente of listaPacientes">
                            <td>{{ paciente.dni}}</td>
                            <td>{{ paciente.nombre}}</td>
                            <td>{{ paciente.apellidos}}</td>
                            <td>{{ paciente.nss}}</td>
                            <td>{{ paciente.direccion}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>