<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>NUEVA CITA</span>
                    <form class="mt-3">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Motivo de la cita">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="fecha">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="ID paciente">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="ID medico">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start">Volver</button>
                            <button class="btn btn-success btn-lg float-end">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>